# Automação Web e Busca de Informações com Python

Em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

In [24]:
import pandas as pd
import pyautogui
import time
import selenium
from selenium import webdriver #controla o navegador
from selenium.webdriver.common.keys import Keys #usar o teclado
from selenium.webdriver.common.by import By #localizar os itens no navegador
#criar o navegador
navegador = webdriver.Chrome()


#entrar no google e pesquisar pela cotação do dolar
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)


#pegar a cotação do dolar
cotação_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print (f'a cotação do dolar atual é de R$,{cotação_dolar}')


#entrar no google e pesquisar pela cotação do euro
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)



#pegar cotação do euro
cotação_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print ('a cotação do euro atual é de R$', cotação_euro)


#entraria no google e pesquisar pela cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

#pegar cotação do ouro
cotação_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')
cotação_ouro = cotação_ouro.replace(',','.')
print('a cotação do ouro atual é de R$', cotação_ouro)

pyautogui.hotkey('alt','f4') # ou no selenium usar navegador.quit()

#importar a base de dados


tabela = pd.read_excel('Produtos.xlsx')


#atualizar as cotações na base de dados

tabela.loc[tabela["Moeda"]=='Dólar' , "Cotação"] = float(cotação_dolar)
tabela.loc[tabela["Moeda"]=='Euro' , "Cotação"] = float(cotação_euro)
tabela.loc[tabela["Moeda"]=='Ouro', "Cotação"] = float(cotação_ouro)


#atualizar o preço de compra da base de dados
#preço de compra = preço original * cotação
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela['Cotação']

#preço de venda = preço de compra * margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela['Margem']
display(tabela)
#exportar devolta a base de dados para a planilha no google sheets

tabela.to_excel("Produtos Atualizados.xlsx")

a cotação do dolar atual é de R$,5.0129
a cotação do euro atual é de R$ 5.536597663
a cotação do ouro atual é de R$ 321.79

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.012900,5012.849871,1.40,7017.989819
1,Carro Renault,4500.00,Euro,5.536598,24914.689484,2.00,49829.378967
2,Notebook Dell,899.99,Dólar,5.012900,4511.559871,1.70,7669.651781
3,IPhone,799.00,Dólar,5.012900,4005.307100,1.70,6809.022070
4,Carro Fiat,3000.00,Euro,5.536598,16609.792989,1.90,31558.606679
5,Celular Xiaomi,480.48,Dólar,5.012900,2408.598192,2.00,4817.196384
6,Joia 20g,20.00,Ouro,321.790000,6435.800000,1.15,7401.170000

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [6]:
#importar a base de dados
import pandas as pd
tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [20]:
#atualizar as cotações na base de dados
tabela.loc[tabela["Moeda"]=='Dólar' , "Cotação"] = float(cotação_dolar)
tabela.loc[tabela["Moeda"]=='Euro' , "Cotação"] = float(cotação_euro)
tabela.loc[tabela["Moeda"]=='Ouro', "Cotação"] = float(cotação_ouro)
display(tabela)
#atualizar o preço de compra da base de dados
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela['Cotação']
#preço de compra = preço original * cotação

display(tabela)
#preço de venda = preço de compra * margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela['Margem']
display(tabela)
#exportar devolta a base de dados para a planilha no google sheets

tabela.to_excel("Produtos Atualizados.xlsx")

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.01280,5012.749872,1.40,7017.849821
1,Carro Renault,4500.00,Euro,5.54079,24933.553610,2.00,49867.107219
2,Notebook Dell,899.99,Dólar,5.01280,4511.469872,1.70,7669.498782
3,IPhone,799.00,Dólar,5.01280,4005.227200,1.70,6808.886240
4,Carro Fiat,3000.00,Euro,5.54079,16622.369073,1.90,31582.501239
5,Celular Xiaomi,480.48,Dólar,5.01280,2408.550144,2.00,4817.100288
6,Joia 20g,20.00,Ouro,321.79000,6435.800000,1.15,7401.170000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.01280,5012.749872,1.40,7017.849821
1,Carro Renault,4500.00,Euro,5.54079,24933.553610,2.00,49867.107219
2,Notebook Dell,899.99,Dólar,5.01280,4511.469872,1.70,7669.498782
3,IPhone,799.00,Dólar,5.01280,4005.227200,1.70,6808.886240
4,Carro Fiat,3000.00,Euro,5.54079,16622.369073,1.90,31582.501239
5,Celular Xiaomi,480.48,Dólar,5.01280,2408.550144,2.00,4817.100288
6,Joia 20g,20.00,Ouro,321.79000,6435.800000,1.15,7401.170000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.01280,5012.749872,1.40,7017.849821
1,Carro Renault,4500.00,Euro,5.54079,24933.553610,2.00,49867.107219
2,Notebook Dell,899.99,Dólar,5.01280,4511.469872,1.70,7669.498782
3,IPhone,799.00,Dólar,5.01280,4005.227200,1.70,6808.886240
4,Carro Fiat,3000.00,Euro,5.54079,16622.369073,1.90,31582.501239
5,Celular Xiaomi,480.48,Dólar,5.01280,2408.550144,2.00,4817.100288
6,Joia 20g,20.00,Ouro,321.79000,6435.800000,1.15,7401.170000